<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="'/'">
      <img src="assets/img/logo.png" alt="QuBeyond Logo" />
    </a>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a
        class="menu-item align-items-center"
        mat-list-item
        [routerLink]="'/dashboard'"
      >
        <mat-icon>home</mat-icon> <span>Home</span>
      </a>
      <a class="menu-item" mat-list-item [routerLink]="'/dashboard/jokes'">
        <mat-icon>sentiment_very_satisfied</mat-icon> <span>Jokes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-container">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
